In [38]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os

# An√°lisis Exploratorio de datos (EDA)

In [46]:
results_df = pd.read_csv('../results/execution_time.csv')
# preprocessing
results_df['total_cpu_usage'] = results_df['total_cpu_usage'].str.replace('%', '').astype(float) / 100
results_df['max_ram_usage'] = results_df['max_ram_usage'] / np.power(1024,2)
results_df['l2_cache_size_mb'] = results_df['l2_cache_size'].str.replace(' MiB', '').astype(float)
results_df['l3_cache_size_mb'] = results_df['l3_cache_size'] / np.power(1024,2)
results_df['ghz_actual_friendly'] = results_df['hz_actual_friendly'].str.replace('GHz', '').astype(float)
results_df['ghz_advertised_friendly'] = results_df['hz_advertised_friendly'].str.replace('GHz', '').astype(float)
results_df = results_df.drop(columns=['hz_actual_friendly', 'hz_advertised_friendly','l2_cache_size','l3_cache_size'])

## PC's utilizados

In [18]:
results_df[['brand_raw','vendor_id_raw','arch','total_ram_gb']].drop_duplicates()

,brand_raw,vendor_id_raw,arch,total_ram_gb
0,Intel(R) Core(TM) i5-10400 CPU @ 2.90GHz,GenuineIntel,X86_64,31.226021

## Benchmarks

### Matrix multiplication

In [19]:
mm_df = results_df[results_df['benchmark']=='matrix_multiplication']

In [25]:
mm_df[['total_time','total_cpu_usage','total_memory_usage','max_ram_usage','swaps']].describe()

       total_time  total_cpu_usage  total_memory_usage  max_ram_usage  swaps
count  100.000000       100.000000               100.0     100.000000  100.0
mean     1.741200         9.521400                 0.0       0.611919    0.0
std      0.125282         0.385458                 0.0       0.000144    0.0
min      1.410000         8.650000                 0.0       0.611382    0.0
25%      1.687500         9.237500                 0.0       0.611866    0.0
50%      1.760000         9.580000                 0.0       0.611984    0.0
75%      1.840000         9.815000                 0.0       0.611992    0.0
max      1.960000        10.180000                 0.0       0.612133    0.0

### SQL Join

In [21]:
sql_df = results_df[results_df['benchmark']=='sql_join']

In [27]:
sql_df[['total_time','total_cpu_usage','max_ram_usage']].describe()

         total_time  total_cpu_usage  max_ram_usage
count  1.000000e+02       100.000000     100.000000
mean   1.000000e-02         0.868700       0.008937
std    1.743463e-18         0.028057       0.000068
min    1.000000e-02         0.830000       0.008667
25%    1.000000e-02         0.840000       0.008911
50%    1.000000e-02         0.880000       0.008911
75%    1.000000e-02         0.880000       0.009033
max    1.000000e-02         0.940000       0.009033

### Simulated Annealing

In [23]:
sa_df = results_df[results_df['benchmark']=='simulated_annealing']

In [26]:
sa_df[['total_time','total_cpu_usage','max_ram_usage']].describe()

       total_time  total_cpu_usage  max_ram_usage
count  100.000000         100.0000     100.000000
mean     0.393300           0.9935       0.003496
std      0.010923           0.0050       0.000071
min      0.380000           0.9800       0.003296
25%      0.387500           0.9900       0.003418
50%      0.390000           0.9900       0.003540
75%      0.400000           1.0000       0.003540
max      0.430000           1.0000       0.003540

In [56]:
results_df[['total_time','total_cpu_usage','max_ram_usage','l2_cache_size_mb','l3_cache_size_mb','ghz_actual_friendly','ghz_advertised_friendly','count','total_ram_gb','l2_cache_line_size','l2_cache_associativity']].to_csv('../results/execution_time_cleaned.csv', index=False)